logi2
*.log
*.json
*.vscode
~/.logi2
*.bleve
logtest/
__debug_bin
blavestorage/
md5
repdata
logenc/repdata
logenc/md5rep
md5rep
test_/test0
test_/test1
generate_logs/gen_logs_coded
generate_logs/gen_logs_decoded
gen_logs_coded
gen_logs_decoded
genrlogs./
testsave/
testmerge/
md5193
md5213
md5214