<<define "card">> 
<html>
      <md-content class="md-padding">
          <div layout="row" ng-hide="!showCard" class="ng-hide">
            <md-content flex></md-content>
            <md-card flex layout-align="center center">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Logi 2 service to view log</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
              <p>
                Logi 2 
              </p>
                  <md-icon md-svg-icon="/img/ic_launch_black_24px.svg"></md-icon>
                  </md-button>
              </p>
            </md-card>
            <md-content flex></md-content>
          </div>
        </md-content>
</html>
<<end>>