<<define "card">> 
<html>

      <md-content class="md-padding">
      
          <div layout="row" ng-hide="!showCard" class="ng-hide">
            <md-content flex></md-content>
            <md-card flex layout-align="center center">
              <md-card-title>
                <md-card-title-text>
                 <iframe name="hiddenFrame" class="hide"></iframe>
                <!--  <form class="form-inline center-form" role="form" action="datestartend" method="GET" target="hiddenFrame"> -->
                <input type="text" name="datefilter" value="" />

<script type="text/javascript">
$(function() {

  $('input[name="datefilter"]').daterangepicker({
      autoUpdateInput: false,
      locale: {
          cancelLabel: 'Clear'
      }
  });

  $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
      console.log($(this).val());
  });

  $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('') ;
  });

});
</script>
                   <!-- </form> -->
                  <span class="md-headline">Logi 2 service to view log</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
              <p>
                Logi 2 
              </p>
                  <md-icon md-svg-icon="./img/ic_launch_black_24px.svg"></md-icon>
                  </md-button>
              </p>
            </md-card>
            <md-content flex></md-content>
          </div>
        </md-content>
</html>
<<end>>