<<define "footer">> 
<html>
<footer style="text-align:center;">Сайт создан на <strong>Golang</strong></footer>
 <p style="text-align:center;">©Авторские права  2050. Все права защищены.</p>
</html>
<<end>>