<<define "wscontent">>
<!--START -->
<html>
<div id = "loading" > </div>
<table align="center">
            <tr> 
            <td>On current page</td>
            <td id ="cntinfo" class="info testI" onclick="editInf()"> </td> 
            <td id ="cnterror" class="error testE" onclick="editErr()"> </td> 
            <td id ="cntwrng" class="warning testW" onclick="editWarn()"> </td> 
            <td id ="ctndbg" class="debug testD" onclick="editDbgs()"> </td> 
            <td id ="cntall" class="all testA" onclick="editAll()"> </td>
            </tr >

      </table>
<div class="containerT">
<h2>Select Number Of Rows</h2>
				<div class="form-group"> 	<!--		Show Numbers Of Rows 		-->
			 		<select class  ="form-control" name="state" id="maxRows">
						 <option value="1000">1000</option>
						 <option value="5">5</option>
						 <option value="10">10</option>
						 <option value="15">15</option>
						 <option value="20">20</option>
						 <option value="50">50</option>
						 <option value="70">70</option>
						 <option value="100">100</option>
						</select>
			 		
			  	</div>
      <div class="TableContainer">
	
        <table id="tbl92" border="0" class="tableScroll"  data-scroll-speed=2 align="center">
        <thead>
                <tr> 
                <th onclick="Vi.Table.sort.string(this)" title="Strings will be ordered lessically." > TYPE </th> 
                <th onclick="Vi.Table.sort.string(this)" title="Strings will be ordered lessically." > APPNAME </th> 
                <th onclick="Vi.Table.sort.string(this)" title="Strings will be ordered lessically." > APPPATH </th> 
                <th onclick="Vi.Table.sort.number(this)" title="Number will be sortes as number." > APPPID </th> 
                <th class = "th-sm" > THREAD </th> 
                <th onclick="sortCustom2(this)" title="The date is ordered based on 'ticks' stored as custom data." > TIME </th>
                <th class = "th-sm" > ULID </th>
                <th class = "th-sm" > MESSAGE </th>
                <th class = "th-sm" > DETAILS </th> </tr> 
                </thead>
          <tbody  id="container">
          <!--<md-content flex   id="container">-->
          <!-- Content will be inserted by websocket connection -->
        <!-- </md-content> -->
          </tbody>
        </table>
         </div>
	    <div class='pagination-container' >
				<nav>
				  <ul class="pagination">
            
            <li data-page="prev" >
								     <span> < <span class="sr-only">(current)</span></span>
								    </li>
				   <!--	Here the JS Function Will Add the Rows -->
        <li data-page="next" id="prev">
								       <span> > <span class="sr-only">(current)</span></span>
								    </li>
				  </ul>
				</nav>
			</div>

 <div id = test >
</div>
 </div>
  <div class ="sysinfo d-block p-2 .bg-light.bg-gradient text-dark"> Message:</div> 
  <div class ="sysinfo d-block p-2 .bg-light.bg-gradient text-dark" id = "message"> </div>
  <div class ="sysinfo d-block p-2 .bg-secondary.bg-gradient text-dark" id = "details"> </div>
  <div class ="sysinfo d-block p-2 .bg-secondary.bg-gradient text-dark" id = "sysMsgAll"> </div>
  <div id="buttonPrevNext">
  <button id = "buttonNext">Next</button>
    <div  id="mapContainer"></div>   
  <button id = "buttonPrev">Previus</button> 


  
  </div>


  
 


  <!--For system msg -->
        <section layout="row">
          <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="9">
          <md-toolbar>
            <h1 class="md-toolbar-tools">Log Directory</h1>
          </md-toolbar>
          <md-content>
            <md-list>
              <<range .FileList>>
              <md-list-item class="md-4-line" id="filelist" ng-click="open_connection('<<.>>')">
                <div  class="md-list-item-text" >
                 <script>
                 file = <<.>>
                 filename = file.replace(/^.*[\\\/]/, '')
                 document.write(filename)
                 </script>
             
                </div>
                
              </md-list-item>
                   
              <md-divider></md-divider>
              <<end>>
            </md-list>
          </md-content>
        </section>
         
         <!--STOP -->
</html>
<<end>>