.crimson-text {
    color: crimson;
}

.btn {
    background-color: #ed6c27;
    color: white;
    padding: 16px;
    font-size: 12px;
    border: none;
    outline: none;
    display: inline-block;
    height: 16px;
    text-align: center;
}

.btnR {
    background-color: #ed6c27;
    color: whitesmoke;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    display: inline-block;
    right: 100px;
}

.wide {
    overflow: hidden !important;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    /*  */
    position: fixed;
    background-color: black;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.error {
    background-color: #ffb0b0;
}

.warning {
    background-color: #ffff90;
}

.info {
    background-color: #b0ffb0;
}

.debug {
    background-color: #a0a0a0;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.scale {
    /* hide radio button */
    position: fixed;
    left: 100%;
    top: 100%;
    display: inline-block;
    padding: auto;
}

.button {
    display: inline-block;
    padding: 15px;
    margin: 0px 3px 0px 0px;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: black;
    color: black;
}

.scale:checked+label {
    /* selected styled */
    background-color: #FE0200;
    color: black;
    text-shadow: 1px 1px 3px #8e8e8e;
}

.layout-padding {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}

.parent {
    border: 1px solid black;
    height: 200px;
}

.child {
    height: 100px;
    display: inline-block;
    background: red;
    width: 30%;
}

.headContent {
    height: 15%;
}

.inline {
    display: inline-block;
}

.sysinfo {
    font-size: 18px;
}